.chairperson {
	background: none;
	background-size: cover;
	padding: 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
	@include Responsive(LG) {
		background: url(../image/background-section5.png) no-repeat center;
		padding: 110px 0 55px;
	}

	.container-full {
		display: block;
		position: relative;
		@include Responsive(LG) {
			display: none;
		}

		.-image {
			width: 100%;

			img {
				width: 100%;
			}

			&:first-child {
				display: flex;
				justify-content: center;

				img {
					width: 100%;
				}
			}
		}
	}

	.col {
		display: flex;
		justify-content: flex-end;
	}

	&__main {
		width: 100%;
		@include Responsive(LG) {
			width: 45%;
		}

		&--item {
			width: 100%;
		}

		.-title {
			display: none;
			overflow: hidden;
			@include Responsive(LG) {
				display: block;
			}

			img {
				width: 100%;
			}
		}

		.-body {
			margin-top: 25px;
			padding: 0 7px;
			position: relative;
			@include Responsive(LG) {
				margin-top: 53px;
				padding: 53px 29px 80px;
			}

			&::before {
				content: '';
				backdrop-filter: blur(0);
				background: none;
				box-shadow: none;
				border-radius: 62px;
				height: 0;
				left: 0;
				opacity: 0.9;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 0;

				@include Responsive(LG) {
					height: 100%;
					backdrop-filter: blur(12.886px);
					background: rgba(248, 248, 248, 0.2);
					box-shadow: inset 37.9px -37.9px 37.9px rgba(188, 188, 188, 0.2),
						inset -37.9px 37.9px 37.9px rgba(255, 255, 255, 0.2);
				}
			}

			&__unorder-list {
				position: relative;
				z-index: 1;

				.-body__list-item {
					display: flex;
					list-style: none;

					&:not(:first-child) {
						margin-top: 9px;
					}

					p {
						color: #4b4b4b;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						height: max-content;
						line-height: 19px;
						margin-left: 14px;
						text-align: justify;
						margin-top: 10px;
					}
				}
			}
		}
	}
}
