@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variable
$pad: 100px;
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1280px;
$XXL: 1440px;

$lower: 100;
$upper: 700;

// media queries
@mixin Responsive($canvas) {
	@if $canvas==SM {
		@media only screen and (min-width: $SM) {
			@content;
		}
	} @else if $canvas==MD {
		@media only screen and (min-width: $MD) {
			@content;
		}
	} @else if $canvas==LG {
		@media only screen and (min-width: $LG) {
			@content;
		}
	} @else if $canvas==XL {
		@media only screen and (min-width: $XL) {
			@content;
		}
	} @else if $canvas==XXL {
		@media only screen and (min-width: $XXL) {
			@content;
		}
	}
}

// Global style
* {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	margin: 0;
	scroll-behavior: smooth;
	padding: 0;
}

body {
	width: 100%;

	&.active {
		// padding-right: 17px;
		overflow-y: hidden;
	}
}

section,
footer {
	.container {
		max-width: calc(#{100%} - 23px);
		margin: 0 auto;
		width: 100%;
		@include Responsive(MD) {
			max-width: $MD - 76px;
		}
		@include Responsive(LG) {
			max-width: $LG - 92px;
		}
		@include Responsive(XL) {
			max-width: $XL - 80px;
		}
		@include Responsive(XXL) {
			max-width: $XXL - 40px;
		}
	}

	.container-max {
		width: 100%;
	}

	.background-texture {
		width: 100%;
		height: max-content;

		img {
			width: 100%;
		}
	}
}

.row {
	width: 100%;
}

.col {
	width: 100%;
}

.-text {
	&--right {
		text-align: right;
	}

	&--center {
		text-align: center;
	}

	&--left {
		text-align: left;
	}

	&--justify {
		text-align: justify;
	}
	&-waaaves {
		font-variation-settings: 'wght' $lower;
		span {
			color: rgb(42, 65, 203);
			animation: rise 2.25s infinite ease-in-out;
			animation-delay: calc((var(--index) - 6) * 0.225s);
			display: inline-block;
			font-variation-settings: 'wght' $upper;
		}
	}
}

@keyframes rise {
	50% {
		color: rgb(255, 255, 255);
		transform: translate(0, -10%);
	}
}

.absolute {
	position: absolute;
}

.--button {
	cursor: pointer;
}

.--disable {
	user-select: none;
}

.--hidden {
	display: none;
}

.contact,
.header {
	.-title {
		display: flex;
		margin: 30px 0 76px 0;
		position: relative;

		&__content {
			display: flex;
			flex-flow: column;
			max-width: calc(100% - 45%);
			position: relative;
			width: max-content;
			right: -10%;

			&--position {
				font-style: italic;
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;
			}

			&--name {
				font-style: normal;
				font-weight: bold;
				font-size: 28px;
				line-height: 33px;
				margin: 30px 0 10px;
				@include Responsive(LG) {
					font-weight: bold;
					font-size: 72px;
					line-height: 84px;
				}
			}

			&--contact {
				align-items: center;
				display: flex;
			}

			&--hyperlink {
				align-items: center;
				display: flex;

				.-link {
					background: #ffffff3d;
					border-radius: 30px;
					margin-left: 12px;
					padding: 8px 22px;

					a {
						color: #fff;
						text-decoration: none;

						p {
							font-family: 'Be Vietnam Pro', sans-serif;
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							line-height: 16px;

							@include Responsive(LG) {
								font-weight: bold;
								font-size: 16px;
								line-height: 20px;
								color: #ffffff;
							}
						}
					}
				}
			}

			&--icon {
				margin-left: 12px;
			}
		}
	}
}

.hot {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	z-index: 100;
	@include Responsive(MD) {
		right: 50px;
	}

	&--item {
		margin-left: 20.41px;
		cursor: pointer;
		width: 50px;

		img {
			width: 100%;
		}
	}
}
